*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: fontAwesome ;
    src: url(../fonts/fa-solid-900.ttf);
    
}
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');
.fuente-primaria {
    font-family: 'Xanh Mono', monospace;
    width: auto;
}
body {
    font-family: 'Xanh Mono', monospace;
    background-color:#D9B97E;
    background-image: url(./assets/img/aesthetic-wallpaper-pink-smoke-background.jpg);
    background-size: cover;
    text-align: center;
    width:100%;
    overflow-x: hidden;
} 
div.gidGeneral {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                         "main   main   main   main"
                         "main   main   main   main"
                         "footer footer footer footer";
}
header {
    grid-area: header;
    height: fit-content;
    padding: 1em;
    flex-flow: row;
    justify-content: center;
    background-image: url(./assets/img/Damir.JPEG);
    background-size: cover;
    width: 1262px;
}
.gridSuperior {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hamburguesa texto logo";
    justify-content: center;
}
@media screen and (max-width:600px) { 
    .body {
        width:100%;
        overflow-x: hidden;
    }
    header {
        width: 110%;
    }
    .logo {
        padding: 10%;}
    .headertext {
        padding: 10%;
        margin-top: 40%;
    }
}
@media  screen and (min-width:601px) {
    .headertextB {
        display: flex;
        margin-top: 40%;
        margin-left: 10%;
        font-size: xx-large;
        text-decoration: none;
        text-align: center;
    }
    .txtContact {
        display: flex;
        justify-content: center;
        padding-left: 4%;
    }
}
.headertext {
    grid-area: texto;
    font-size: xx-large;
    display: flex;
    margin-top: 30%;
    margin-left: 10%;
}
.headerFullB {
    height: 230px;
    width: 110%;
    
}
.headerFull {
    height: 230px;
    width: 110%;
    align-items: center;
}

.headertextB {
    display: flex;
    margin-top: 45%;
    margin-left: 12%;
    font-size: xx-large;
    text-decoration: none;
    text-align: center;
    line-height: 37px;
}
nav {
    grid-area: hamburguesa;
    width:100%;
    height:80px;
    padding: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
   
}
.navbar {
    background-color:none;
    display: flex;
    flex-flow: row;
    height: 250px;
    width: auto;
    align-items:center;
    justify-content: center;
}
.navbar > label::before {
    content: icon;
    color: indigo;
    background: transparent;
    font-size: xx-large;
    font-family: fontAwesome;
    display: none;
    cursor: pointer;
    overflow: auto;
    border: transparent;
    position: absolute;
    background-color: #80C7FF;
}
.navLabel {
    display: block;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 0.3em;
    position: absolute;
    top: 0.5em;


}
@media screen and (min-width:650px) {
.fa-solid.fa-bars::before {
    visibility: hidden;
}
.fa-solid.fa-x::before {
    visibility: hidden;
}
}
.navbar input:checked + .ul_menu{
    display: flex;
    
}
.ul_menu,  .navInput, .navLavel {
    display: none;

}

@media screen and(max-width:600px) {
.ul_menu{
    position: fixed;
    margin-top: 80%;
    top: 100px;
    bottom: 0;
    width: fit-content;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #8CFF85;
}
}
.navInput:checked + .ul_menu {
    clip-path: circle(100% at center);
}
input [type=checkbox]{
    display: none;
    visibility: hidden;
}
.navbar > ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar > ul > li {
    position: relative;
}
.navbar > ul > li:hover ul{
    max-height: 300px;
    transition: 0.5s;
}
.navbar ul li a {
    display: block;
    text-decoration: none;
}
.navbar >ul >li >ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    list-style-type: none;
    left: -12px;
    z-index: 2;
}
a {
    text-decoration: none;
}
.logo {
    grid-area: logo;
}
.logo img {
    height: 80px;
    position: end;
    margin-left: 15%;
    margin-top: 95%;
    margin-right: 0%;

} 
#colortitulo {
    color: rgb(237, 167, 36);
    text-shadow: 2px 2px 3px black;
}

.color1 {
  color: blueviolet;
}
img {
    border-style: dotted;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    object-position: 50%;
}
.zoom {
    transition: transform 0.5s;
}
.zoom:hover {
    transform: scale(1.5);
}
.card {
    border-style: none;
    align-items:stretch;
    padding: 1px;
}
div {
    height: fit-content;
    width:fit-content;
}
ul { 
    list-style: none;
    margin-top: 0;
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    gap: 1%;
}
@media screen and (min-width:768px){
    ul {
        flex-direction:row;
    
    }
}
li {
padding: 10px 30px;
display: inline-block;
background-color:pink;
text-transform: uppercase;
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}
.li:hover{
    background: #D9B9;
}
.logo {
    display: flex;
}
.card.tamañotexto {
    font-size:large;
} 

.caja {
    display: flex;
    width: 200px;
    height: 100px;
    background-image: none;
    margin:auto;
    border: 2px solid;
    padding: 10px;
    
}
.contenedor3 {
    padding: 10%;
}
.titulo {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}
.titulo2 {
    width:100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    align-self: center;
    margin-left: 30%;
}
.parrafo {
    font-size: xx-large;
}
main {
    padding: 2em;
    grid-area: main;

}
.textofix {
    font-size: medium;
    color: white;
}
.card {
    padding: 0.5em; 

}
.color3 {
    color: white;
    font-size: larger;
    padding: 10%;
    text-shadow: 1px 1px 3px black;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "pintura1 pintura2 pintura3"
                         "seguime  mail     mercado";
    justify-content: center;
    align-items: center;
}
.contactos {
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
    grid-template-areas: "...   titulo     ..."
                         "...   nombre     ..."
                         "...   apellido   ..." 
                         "...   mail       ..."
                         "...   infomail   ..."
                         "...   botonEnvio ...";
    justify-content: center;
    align-items: center;
}
.datosCompra {
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 130px 80px;
    grid-template-areas: "...   titulo     ..."
                         "...   nombre     ..."
                         "...   apellido   ..." 
                         "...   mail       ..."
                         "...   pais       ..."
                         "...   infomail   ..."
                         "...   areaTexto  ..."
                         "...   botonEnvio ...";
    justify-content: center;
    align-items: center;
}
.contenedorBio {
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 80px 700px;
    grid-template-areas: "...   tituloBio     ..."
                         "...   parrafo2      ...";
    justify-content: center;
    align-items: center;
}
.parrafo2 {
    grid-area: parrafo2;
    font-size: x-small;
}
.contenedorGaleria {
    display: grid;
    grid-template-columns: 200px 400px 400px 200px;
    grid-template-rows: repeat(2, 1fr);
    justify-content:space-evenly;
    align-items: center;
    gap: 10px;
    row-gap: 30px;
}
@media screen and (max-width:600px){
    .navbar {
        justify-content: space-between;
        position:absolute;
        width: 100vw;
    }
    .navbar > label::before {
        display: block;
        padding: 20px;
    }
    .navbar > input[type=checkbox]:checked + label::before {
        content: "\58";
    }
    .navbar > input[type=checkbox]:checked + ul {
        left: 0;
    }
    .navbar > ul {
        
        position: fixed;
        flex-direction: column;
        width: 250px;
        height: calc(100vh - 70px);
        justify-content: start;
        padding-top: 60px;
        align-items: center;
        bottom: 0;
        left: -500px;
        transition: 0.2s;
        z-index: 2;
    }
    .navbar > ul:hover {
        left:0;
    }
    .logo {
        position: sticky;
    }
    div.gidGeneral {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "header"
                             "main"
                             "footer";
    }
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "pintura1"
                             "pintura2" 
                             "pintura3"
                             "seguime"
                             "mail"
                             "mercado";
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 3%;
    }
    .contactos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 60px 60px 60px 60px 60px;
        grid-template-areas: "   titulo "
                             "  nombre "
                             "   apellido " 
                             " mail  "
                             " infomail "
                             "  botonEnvio ";
        justify-content: center;
        align-items: center;
        margin-left: 30%;
    }
    .contenedorGaleria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px;
        justify-content:space-evenly;
        align-items: center;
        gap: 10px;
        row-gap: 30px;
        margin-top: -5%;
        margin-left: 15%;
        width: fit-content;
    }
    .contenedorGaleriaAbs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "aA" 
                             "aB"
                             "aC"
                             "aD";
        justify-content:space-evenly;
        align-items: center;
        gap: 10px;
        row-gap: 30px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .abstractaA {
        margin-left: 15%;
    }
    .abstractaB {
        margin-left: 5%;
    }
    .abstractaC {
        margin-left: 10%;
    }
    .abstractaD {
        padding-left: 10%;
    }
    .contenedorGaleriaRetratos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "rA" 
                             "rB"
                             "rC"
                             "rD";
        justify-content:space-evenly;
        align-items: center;
        gap: 10px;
        row-gap: 10px;
        padding-right: 10%;
    }
    .datosCompra {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 60px 60px 60px 60px 60px 110px 60px;
        grid-template-areas: "titulo"
                             "nombre"
                             "apellido" 
                             "mail"
                             "pais"
                             "infomail"
                             "areaTexto"
                             "botonEnvio";
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 30%;
    }
    .contenedorBio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 600px;
        grid-template-areas: "tituloBio"
                             "parrafo2";
        justify-content: center;
        align-items: center;
    }
    .parrafo2 {
        margin-top: 1%;
        font-size: medium;
    }
}

.abstracta1 {
    margin-left: 9%;
}
.abstracta2 {
    margin-left: 11%;
}
.contenedor .card1 {
grid-area: pintura1;
}
.contenedor .card2 {
    grid-area: pintura2;
    margin-left: 7%;
    margin-top: -8%;
}
.contenedor .card3 {
    grid-area: pintura3;
}
.contenedor .card4 {
    float: left ;
    background-color: none;
    margin-left: -1%;
    }
.contenedor .card5 {
        float: left ;
        background-color:none;
        margin-left: 0%;
    }
.contenedor3 .card6 {
        float: left ;
        background-color: none;
        margin-left: -5%;
    }
.instagram {
    width: 40px;
    height: 40px;
}

.cajaX {
    grid-area: mail;
    width: 75%;
    font-size: xx-large;
    box-shadow: 1px 1px 2px 2px beige;
    align-self: center;
    align-items: center;
    margin-left: 10%;

}
.cajaY {
    grid-area: seguime;
    font-size: x-large;
   
}
.cajaZ {
    grid-area: mercado;
    font-size: xx-large;
    
}
.btninsta {
    background-color:transparent;
    border: none;
    padding-top: 20%;
    padding-bottom: 20%;
}
.numerotelefono {
    text-decoration: underline;
}
.whatsapp {
    height: 40px;
    width: 40px;
    margin-top: 20%;
    margin-bottom: 20%;
}
.bagheart {
    width: 40px;
    padding: 1%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 40%;
    align-self: center;
    margin: 30%;
}
.arrowdown {
    width: 30%;
    align-self: center;
    margin-right: 20%;
    padding: 8%;
    margin: 15%;
}
h3 {
    font-size: x-large;
}
.textocontactos {
    grid-area: titulo;
    font-size: xx-large;
    padding: 10%;
}
.footerB{
    display: flex;
    justify-content: center;
    align-self: center;
}
.botonSend {
    display: flex;
    justify-content: center;
}
.name {
    display: flex;
}
.apellido {
    grid-area: apellido;
}
.mail {
    grid-area: mail;
}
.infomail {
    grid-area: infomail;
}
@media screen and (min-width:601px) {
    .botonEnvio {
        grid-area: botonEnvio;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: fit-content;
        display: flex;
        align-self: center;
        padding: 6%;
    }
    .contenedorGaleriaAbs {
        display: grid;
        grid-template-columns: 200px 400px 400px 200px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "... aA aB ..."
                             "... aC aD ...";
        justify-content:space-evenly;
        align-items: center;
        gap: 10px;
        row-gap: 30px;
    }
    .contenedorGaleriaRetratos {
        display: grid;
        grid-template-columns: 200px 400px 400px 200px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "... rA rB ..."
                             "... rC rD ...";
        justify-content:space-evenly;
        align-items: center;
        gap: 10px;
        row-gap: 30px;
    }
    .parrafo2 {
        font-size: x-large;
        grid-area: parrafo2;
    }
    
}
.botonEnvio {
    grid-area: botonEnvio;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-self: center;
    margin-left: 40%;
}
.botonEnvio:hover {
    background: #D9B97E;
}
.pais {
    grid-area: pais;
}
.areaTexto {
    grid-area: areaTexto;
}
.tamañoA {
    font-size: xx-large;
    text-decoration: underline;
    margin-bottom: 3%;
    color: #D9B97E;
    text-shadow: 1px 1px 3px black;
}
.tituloBio {
    font-size: xx-large;
    margin-bottom: 3%;
    grid-area: tituloBio;
}

.btn2 {
    border: #D9B97E;
    border-style: double;
}
.semicontenedorAbstractas {
    margin-left: 70%;
}
.semicontenedor2Abstractas {
    margin-left: -70%;
    align-content:space-between;
}
.card1Abs {
 margin-left: 35%;
}
.card5Abs {
    margin-left: 34%;
}
.retratoA{
grid-area: rA;
}
.retratoB{
grid-area: rB;
} 
.retratoC{
grid-area: rC;
}
.retratoD{
grid-area: rD;
}
.abstractaA {
grid-area: aA;
}
.abstractaB{
grid-area: aB;
}
.abstractaC{
grid-area: aC;
}
.abstractaD{
grid-area: aD;
margin-left: 10%;
}
@media screen and (max-width:768px){
    .contenedorGaleriaRetratos {
        flex-direction:column;
        width: 200px;
        height: 1550px;
        align-items: center;
        margin-left: 35%;
        margin-bottom: 3%;
    }
    .semicontenedorRet {
        margin-top: 30%;
    margin-right: 90%
}
.semicontenedor2Ret {
    margin-right: -50%;
}
}
.semicontenedorRet {
    margin-left: 70%;
}
.semicontenedor2Ret {
    margin-left: -70%;
    align-content:space-between;
}
.card1Abs {
 margin-left: 35%;
}
.card5Abs {
    margin-left: 34%;
}
.btnbuy {
    margin-top: 10%;
    align-self: center;
}
.headerFull {
    align-items: center;
}
footer {
    align-self: center;
    align-content: center;
    grid-area: footer;
}